* {
    border: 1px solid red;
}

body {
    text-align: center;
}

.win-round {
    font-weight: bolder;
    font-size: 20px;
}

.directions-el {
    display: flex;
    flex-direction: column;

}

h1 {
    margin-bottom: 15px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

h3 {
    margin-top: 3px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.container button {
    background-color: red;
    color: white;
    border: 2px solid black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    max-width: auto;
}

h4 {
    margin-bottom: 10px;
}

.single-round {
    font-size: 15px;
    margin-bottom: 3px;
    margin-top: 0px;
    color: red;
}